<div id="player" style="height: 500px ; width: 100%">
</div>

<ion-header>
  <ion-toolbar>
    <ion-title>
      Zender Ionic/Cordova Web Example
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">


 <form (ngSubmit)="saveConfig()">
   <ion-item>
  <ion-label>TargetId</ion-label>
  <ion-input [(ngModel)]="zenderconfig.targetId" name="targetId"></ion-input>
</ion-item>

<ion-item>
  <ion-label>ChannelId</ion-label>
  <ion-input [(ngModel)]="zenderconfig.channelId" name="channelId"></ion-input>
</ion-item>


<ion-item>
    <ion-label>Environment</ion-label>
    <ion-select [(ngModel)]="zenderconfig.environment" name="environment">
	<ion-select-option value="staging">staging</ion-select-option>
        <ion-select-option value="production">production</ion-select-option>
    </ion-select>
 </ion-item>

      <button ion-button type="submit" block>Save</button>

</form>


 <button ion-button (click)="openZenderPlayerIframe()">Open Zender Player (iframe)</button>
 <button ion-button (click)="openZenderPlayerInAppBrowser()">Open Zender Player (in App Browser)</button>

  </div>
</ion-content>

